body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
  }

  
  .jumbotron {
    text-align: center;
    background-color: rgb(6, 37, 174,.3);
    color: white;
    border-radius: 0;
    border-bottom: 10px solid black;
  }

  
  .description{
    white-space: pre-wrap;
  }

  
  

  /* Styling for container of schedule rows */

  .container{
    margin-bottom: 50px;
    position: absolute;
  }

  .col-md-12{
    margin-left: 300px;
  }

  .tRow {
    height: 80px;
    border-top: 1px solid white;
  }
  

  .timeTd{
    background-color: rgb(6, 37, 174,.3);
    color: white;
    width: 100px;
    text-align: center;
    border-top: 1px dashed black;
  }

  .inputTd{
    width: 500px;
    height: 80px;
  }

  .txtArea{
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    padding: 10px;
    width: 700px;
    margin: 0px;
    margin-top: 10px;
  }

  

  .saveBtn {
    /* border-left: 1px solid black; */
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: rgb(6, 37, 174,.3);
    color: white;
    height: 120px;
    margin-bottom: 0px;
    color: white!important;

  }

  .saveImg{
    color: white!important;
  }

  
  .saveBtn i:hover {
    font-size: 20px;
    transition: all .3s ease-in-out;
  }


  /* Media Queries */

  @media only screen and (min-width: 993px) and (max-width: 1200px){

    .inputTd{
      width: 600px;
    }

    .txtArea{
      width: 600px;
    }

  }

  @media only screen and (min-width: 700px) and (max-width: 992px){

    
    .col-md-12{
      margin-left: 50px;
    }

    .inputTd{
      width: 400px!important;
    }

    .txtArea{
      width: 400px!important;
    }

    .timeTd {
      width: 100px!important;
    }


  }

      
  @media only screen and (min-width: 681px) and (max-width: 699px){

    .inputTd{
      width: 300px!important;
    }
    .col-md-12{
      margin-left: 10px;
    }

    .txtArea{
      width: 300px!important;
    }

  }
    
  @media only screen and (min-width: 501px) and (max-width: 680px){

    .inputTd{
      width: 200px;
    }
    .col-md-12{
      margin-left: 20px;
    }

    .txtArea{
      width: 200px;
    }

    .lead{
      margin-left: 20px;
    }


  }


      
  @media only screen and (min-width: 0px) and (max-width: 500px){

    .inputTd{
      width: 150px;
    }
    .col-md-12{
      margin-left: 70px;
    }

    .txtArea{
      width: 150px;
    }

    .lead{
      margin-left: 20px;
    }

  }